@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    bottom: 0;
    padding: 0;
    font-family: 'Georgia';
    box-sizing: border-box;
}

.textbox {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(109, 50, 136);
}

.textboxx {
    text-align: center;
    color: white;
    background-color: rgb(110, 50, 138);
    font-size: large;
}

.text {
    text-align: center;
}

.cabecalho {
    backdrop-filter: blur(6px);

}

header {
    color: white;
    background-color: rgb(45, 19, 58);
    text-align: center;
}

footer {
    color: white;
    background-color: rgb(45, 19, 58);
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.img-apoiadores {
    display: flex;
    margin: 0 20px;
    padding: 0 20px;
    align-items: center;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

button[type="1"] {
    background-color: #0a9616;
    color: white;
    border: #0a9616;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

button[type="2"] {
    background-color: rgb(18, 71, 32);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

button[type="3"] {
    background-color: rgb(161, 32, 32);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: #0a9616;
}

button:hover[type="1"] {
    background-color: transparent;
    color: #0a9616;
    border: #0a9616;
}

button:hover[type="2"] {
    background-color: transparent;
    color: rgb(18, 71, 32);
    border: rgb(18, 71, 32);
}

button:hover[type="3"] {
    background-color: transparent;
    color: rgb(161, 32, 32);
    border: rgb(161, 32, 32);
}